[submodule "lib/msl"]
	path = lib/msl
	url = https://github.com/mls-m5/msl
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/json.h"]
	path = lib/json.h
	url = https://github.com/mls-m5/json.h
[submodule "lib/http-server"]
	path = lib/http-server
	url = https://github.com/mls-m5/http-server
[submodule "test/mls-unit-test"]
	path = test/mls-unit-test
	url = https://github.com/mls-m5/mls-unit-test
